@import 'tailwindcss';


/* dark/light theme  */
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* Smooth transition when switching themes */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}